<div class="about-us">
    <div class="banner banner-about-us wrapper">
        <img src="/misc/imagesv2/about_banner.jpg" class="w100 mhide" alt="">
        <img src="/misc/imagesv2/mabout_banner.jpg" class="w100 mshow" alt="">
        <div class="w-wrapper hideme">
            <h2 class="f24 color-white">关于我们</h2>
            <p class="f16 color-white">“金砖基金是一家具有企业家眼光的价值投资者，我们要利用我们的资源和优势，帮助企业做大做强，实现基金与企业的双赢！”——金砖基金董事长王毅</p>
        </div>
    </div>

    <div class="content-about-us wrapper">
        
        <div class="section section-about-1">
            <div class="wrapper clearfix mhide">
                <h3>基金简介</h3>
                <div class="img-con">
                    <img src="/misc/imagesv2/about_pic01.jpg" alt="">
                    <div class="desc">
                        <p>“金砖基金是一家具有企业家眼光的价值投资者，我们要利用我们的资源和优势，帮助企业做大做强，实现基金与企业的双赢！”——金砖基金董事长王毅
  <br /> <br /> 金砖基金总部设立在上海，主要由世界500强企业中国华信（第229位）发起，金砖一期母基金规模为人民币50亿元，实缴注册资本20亿。</p>
                    </div>
                </div>
            </div>
            <div class="wrapper clearfix mshow">
                <h3>基金简介</h3>
                <div class="img-con">
                    <img src="/misc/imagesv2/mabout_bg1.png" alt="">
                    <div class="desc">
                        <p>金砖基金总部设立在上海，主要由世界500强企业中国华信（第229位）发起，金砖一期母基金规模为人民币50亿元，实缴注册资本20亿。</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="section section-about-2">
            <div class="wrapper clearfix mhide">
                <h3>管理团队</h3>
                <div class="img-con">
                    <img src="/misc/imagesv2/about_pic02.png" alt="">
                    <div class="desc">
                        <div class="desc-inner">
                        <p>金砖基金拥有专业的投资管理团队，核心团队成员具有不同行业的专业背景及丰富的管理及投资运作经验。公司核心管理人员均来自知名金融机构，有着丰富的投融资运作经验，与国内和国际各种类型金融机构，如：银行、投资银行、投资基金等都有着长期的合作，非常了解国际和国内的金融市场情况。<br /> <br />未来我们将凭借专业的管理团队，丰富的行业经验，价值投资的投资理念，协助中国优秀的企业家共同创建一流的企业。</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrapper clearfix mshow">
                <h3>管理团队</h3>
                <div class="img-con">
                    <img src="/misc/imagesv2/mabout_bg2.png" alt="">
                    <div class="desc">
                        <div class="desc-inner">
                        <p>金砖基金拥有专业的投资管理团队，核心团队成员具有不同行业的专业背景及丰富的管理及投资运作经验。公司核心管理人员均来自知名金融机构，有着丰富的投融资运作经验，与国内和国际各种类型金融机构，如：银行、投资银行、投资基金等都有着长期的合作，非常了解国际和国内的金融市场情况。<br /> <br />未来我们将凭借专业的管理团队，丰富的行业经验，价值投资的投资理念，协助中国优秀的企业家共同创建一流的企业。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


