<div class="top-banner">
	<div class="wrapper">
		<div class="slider-con">
			<div class="slider" slider>
				<div>
					<a href="/#!/"><img src="/misc/imagesv2/pc-banner.jpg" alt="" class="w100 mhide">
					<img src="/misc/imagesv2/m-banner.jpg" alt="" class="w100 mshow"></a>
				</div>
				<div>
					<a href="/#!/newslist/"><img src="/misc/imagesv2/news_banner.jpg" alt="" class="w100 mhide">
					<img src="/misc/imagesv2/mnews_banner.jpg" alt="" class="w100 mshow"></a>
				</div>
				<div>
					<a href="/#!/investment"><img src="/misc/imagesv2/invest_banner.jpg" alt="" class="w100 mhide">
					<img src="/misc/imagesv2/minvest_banner.jpg" alt="" class="w100 mshow"></a>
				</div>
				<div>
					<a href="/#!/about"><img src="/misc/imagesv2/about_banner.jpg" alt="" class="w100 mhide">
					<img src="/misc/imagesv2/mabout_banner.jpg" alt="" class="w100 mshow"></a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="main-content home-content" 
	<div class="wrapper">
		<div class="sections">
			<div class="section section-1 clearfix" style="display:none;">
				<div class="sticked-border">
					<ul class="clearfix">
						<li class="db-1"></li>
						<li class="db-2"></li>
						<li class="db-3"></li>
					</ul>
				</div>
				<div class="section-content mshow section-content-1 not-visible" when-visible="animateElementIn" when-not-visible="animateElementOut">
					<div class="white-con">
						<div class="gray-con">
							<h3 class="font-eng ">Why</h3>
							<img src="misc/images/goldenbrick.png" alt="">
						</div>
						<div class="white-rect"></div>
					</div>
					<div class="money-group money-group-1">
						<div class="m-h-center">
							<p><b class="b1">50</b><b class="b2">亿</b><b class="b3 font-eng">+</b></p>
							<p class="line"></p>
							<p class="p1">一期资金规模</p>
						</div>
					</div>
				</div>
				<div class="section-content mshow section-content-2 not-visible" when-visible="animateElementIn" when-not-visible="animateElementOut">
					<div class="money-group money-group-2">
						<div class="m-h-center">
							<p class="p2 font-eng"><b>f</b><b>o</b><b>r</b><b>t</b><b>u</b><b>n</b><b>e</b></p>
							<p><b class="b1">500</b><b class="b2"></b><b class="b3 font-eng">+</b></p>
							<p class="line"></p>
							<p class="p1">基金发起者</p>
						</div>
					</div>
					<div class="money-group money-group-3">
						<div class="m-h-center">
							<p><b class="b1">20</b><b class="b2">亿</b><b class="b3 font-eng">+</b></p>
							<p class="line"></p>
							<p class="p1">拟投基金规模</p>
						</div>
					</div>
				</div>
				<div class="section-content mhide section-content-1 not-visible" when-visible="animateElementIn" when-not-visible="animateElementOut">>
					<div class="white-con">
						<div class="gray-con">
							<h3 class="font-eng f40">Why</h3>
							<img src="misc/images/goldenbrick.png" alt="">
						</div>
						<div class="white-rect"></div>
					</div>
				</div>
				<div class="section-content mhide section-content-2 not-visible" when-visible="animateElementIn" when-not-visible="animateElementOut">>
					<div class="money-group money-group-1">
						<p><b class="b1">50</b><b class="b2">亿</b><b class="b3 font-eng">+</b></p>
						<p class="line"></p>
						<p class="p1">一期资金规模</p>
					</div>
					<div class="money-group money-group-2">
						<p class="p2 font-eng"><b>f</b><b>o</b><b>r</b><b>t</b><b>u</b><b>n</b><b>e</b></p>
						<p><b class="b1">500</b><b class="b2"></b><b class="b3 font-eng">+</b></p>
						<p class="line"></p>
						<p class="p1">基金发起者</p>
					</div>
					<div class="money-group money-group-3">
						<p><b class="b1">20</b><b class="b2">亿</b><b class="b3 font-eng">+</b></p>
						<p class="line"></p>
						<p class="p1">拟投基金规模</p>
					</div>
				</div> 
			</div>

			<div ng-repeat="news in newsItems track by $index" 
				ng-class="{  'section section-5 mhide clearfix not-visible': true, odd: $index % 2 == 0, even: $index % 2 != 0 }" when-visible="animateElementIn" when-not-visible="animateElementOut">
				<div class="img-con">
					<div class="h40"></div>
					<div class="intro-block">
						<h2 class="font-eng color-dark-yellow">新闻中心<span>News</span></h2>
						<p><font class="font-bold f18">{{news.title}}</font><br></p><p ng-bind-html="news.content.brief | to_trusted"></p>
						<a href="/#!/newslist" class="color-dark-yellow">了解更多 >> </a>
					</div>
					<img class="" src="misc/imagesv2/home_banner2.jpg" alt="">
				</div>
			</div>

			<div class="section section-3 mhide clearfix not-visible" when-visible="animateElementIn" when-not-visible="animateElementOut">
				<div class="img-con">
					<div class="h40"></div>
					<div class="intro-block">
						<h2 class="font-eng color-dark-gray">投资方向<span>Investment Area</span></h2>
						<p class="color-dark-gray">不同于短期市场操作的新投资模式，作为具有企业家眼光的价值投资基金，通过对企业资金...</p>
						<a href="/#!/investment" class="color-gray">了解更多 >> </a>
					</div>
					<img class="" src="misc/imagesv2/home_banner3.jpg" alt="">
				</div>
			</div>

			<div ng-repeat="news in newsItems track by $index" ng-class="{'section section-7 mshow clearfix not-visible': true, odd: $index % 2 == 0, even: $index % 2 != 0 }" 
					 when-visible="animateElementIn" when-not-visible="animateElementOut">
				<div class="wrapper">
					<div class="hp-4">
						<div class="clearfix">
							<img src="misc/imagesv2/m_hp6.jpg" class="w_full" alt="">
						</div>
					</div>
					<div class="clearfix intro-wrapper">
						<div class="intro-block right">
							<h2 class="font-eng color-dark-yellow">新闻中心<span>News</span></h2>
							<p><font class="font-bold f18">{{news.title}}</font><br></p><p ng-bind-html="news.content.brief | to_trusted"></p>
							<a href="/#!/newslist" class="color-dark-yellow">了解更多 > </a>
						</div>
						<img src="misc/imagesv2/m_hp7.jpg" class="left" alt="">
					</div>
				</div>
			</div>

			<div class="section section-8 mshow clearfix not-visible" when-visible="animateElementIn" when-not-visible="animateElementOut">
				<div class="wrapper">
					<div class="hp-4">
						<div class="clearfix">
							<img src="misc/imagesv2/m_hp11.jpg" class="w_full" alt="">
						</div>
					</div>
					<div class="clearfix intro-wrapper">
						<div class="intro-block right">
							<h2 class="font-eng color-light-black">投资方向<span>Investment Area</span></h2>
							<p class=" color-light-black">
								不同于短期市场操作的新投资模式，作为具有企业家眼光的价值投资基金，通过对企业资金...
							</p>
							<a href="/#!/investment" class="color-light-black">了解更多 > </a>
						</div>
						<img src="misc/imagesv2/m_hp12.jpg" class="left" alt="">
					</div>
				</div>
			</div>

			<div class="section section-2 mhide clearfix not-visible" when-visible="animateElementIn" when-not-visible="animateElementOut">
				<div class="img-con">
					<div class="h40"></div>
					<div class="intro-block">
						<h2 class="font-eng color-dark-yellow">关于我们<span>About us</span></h2>
						<p>金砖基金总部设立在上海，主要由世界500强企业中国华信（第229位）发起，金砖一期母基金规模为人民币50亿元，实缴注册资本20亿。</p>
						<a href="/#!/about" class="color-dark-yellow">了解更多 >> </a>
					</div>
					<img class="" src="misc/imagesv2/home_banner4.jpg" alt="">
				</div>
			</div>

			<div class="section section-9 mshow clearfix not-visible" when-visible="animateElementIn" when-not-visible="animateElementOut">
				<div class="wrapper">
					<div class="hp-4">
						<div class="clearfix">
							<img src="misc/imagesv2/m_hp13.jpg" class="w_full" alt="" />
						</div>
					</div>
					<div class="clearfix intro-wrapper">
						<div class="intro-block right">
							<h2 class="font-eng color-dark-yellow">关于我们<span>Investment Area</span></h2>
							<p>
								<font class="">金砖基金总部设立在上海，主要由世界500强企业中国华信（第229位）发起，金砖一期母基金规模为人民币50亿元，实缴注册资本20亿。</font>
							</p>
							<a href="/#!/about" class="color-dark-yellow">了解更多 > </a>
						</div>
						<img src="misc/imagesv2/m_hp14.jpg" class="left" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>