<div class="top-banner">
	<div class="wrapper" home-banner-auto-height ng-style="style()">
		<img src="/misc/images/home/slider1.png" alt="">
		<p class="ep">立足长远  共赢合作</p>
		<div class="readmore">了解更多</div>
	</div>
</div>

<div class="main-content home-content">
	<div class="wrapper">
		
		<div class="sections">
			<div class="section section-1 clearfix">
				<div class="sticked-border">
					<ul class="clearfix">
						<li class="db-1"></li>
						<li class="db-2"></li>
						<li class="db-3"></li>
					</ul>
				</div>
				<div class="section-content section-content-1">
					<div class="white-con">
						<div class="gray-con">
							<h3 class="font-eng">Why</h3>
							<img src="misc/images/goldenbrick.png" alt="">
						</div>
						<div class="white-rect"></div>
					</div>
				</div>
				<div class="section-content section-content-2">
					<div class="money-group money-group-1">
						<p><b class="b1">50</b><b class="b2">亿</b><b class="b3 font-eng">+</b></p>
						<p class="line"></p>
						<p class="p1">一期资金规模</p>
					</div>
					<div class="money-group money-group-2">
						<p class="p2 font-eng"><b>f</b><b>o</b><b>r</b><b>t</b><b>u</b><b>n</b><b>e</b></p>
						<p><b class="b1">500</b><b class="b2"></b><b class="b3 font-eng">+</b></p>
						<p class="line"></p>
						<p class="p1">基金发起者</p>
					</div>
					<div class="money-group money-group-3">
						<p><b class="b1">20</b><b class="b2">亿</b><b class="b3 font-eng">+</b></p>
						<p class="line"></p>
						<p class="p1">拟投基金规模</p>
					</div>
				</div> 
			</div>

			<div class="section section-2 clearfix">
				<div class="img-con">
					<div class="intro-block">
						<h2 class="font-eng color1">About us</h2>
						<p>上海金砖股权投资基金总部在上海陆家嘴国金中心二期，并在北京、香港设有办事处。金砖基金注册资本为<span class="color1">人民币20亿元</span>，金砖一期母基金的发起人为一家<span class="color1">世界500强企业（第342位）中国华信</span>,一期基金规模为人民币50亿元。</p>
						<a href="" class="color2">了解更多 >> </a>
					</div>
					<img class="" src="misc/images/home/hp2.png" alt="">
				</div>
			</div>

			<div class="section section-3 clearfix">
				<div class="img-con">
					<div class="h40"></div>
					<div class="intro-block">
						<h2 class="font-eng color3">Company Philosophy</h2>
						<p class="color3">不同于短期市场操作的新投资模式，作为具有企业家眼光的价值投资基金，通过对企业资金和营运等多方面的支持来帮助企业发展壮大，在企业自身的长期价值增长中获得可持续性的回报。</p>
						<a href="" class="color4">了解更多 >> </a>
					</div>
					<img class="" src="misc/images/home/hp3.png" alt="">
				</div>
			</div>
		</div>
	</div>
</div>