<div class="invest">
    <div class="wrapper">
        <div class="banner banner-invest clearfix">
            <img src="/misc/imagesv2/invest_banner.jpg" alt="" class="w100 mhide">
            <img src="/misc/imagesv2/minvest_banner.jpg" alt="" class="w100 mshow">
            <div class="w-wrapper hideme">
                <h2 class="f24 color-white">投资理念</h2>
                <p class="f16 color-white">“金砖基金是一家具有企业家眼光的价值投资者，我们要利用我们的资源和优势，<br>帮助企业做大做强，实现基金与企业的双赢！”<span class="block tright">——金砖基金董事长王毅</span></p>
            </div>
        </div>
        <div class="content-invest wrapper">
            <div class="section section-invest-1">
                <div class="wrapper mhide">
                    <h3>投资理念</h3>
                    <div class="desc">
                        <img src="/misc/imagesv2/invest_pic01.png" alt="">
                        <div class="desc-inner">
                            <p>秉承“以人为本、立足长远、共赢合作”的投资理念，通过对企业资金和营运等多方面的支持来帮助企业发展壮大，在企业自身的长期价值增长中获得可持续性的回报。</p>
                        </div>
                    </div>
                </div>
                <div class="wrapper mshow">
                    <h3>投资理念</h3>
                    <div class="desc">
                        <img src="/misc/imagesv2/minvest_pic01.png" alt="">
                        <div class="desc-inner">
                            <p>秉承“以人为本、立足长远、共赢合作”的投资理念，通过对企业资金和营运等多方面的支持来帮助企业发展壮大，在企业自身的长期价值增长中获得可持续性的回报。</p>
                        </div>
                    </div>
                </div>
            </div>
             <div class="section section-invest-2">
                <div class="wrapper mhide">
                    <h3>投资对象</h3>
                    <div class="desc">
                        <img src="/misc/imagesv2/invest_bg02.png" alt="">
                        <div class="spin-con">
                            <div class="spin-1">
                                <p>符合国家产业政策和规划要求，在各行业具有核心竞争力的龙头核心企业。</p>
                            </div>
                            <div class="span-3"></div>
                            <div class="spin-2">
                                <p>企业实力强、风险可控且具有良好发展前景的价值投资。</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrapper mshow">
                    <h3>投资对象</h3>
                    <div class="desc">
                        <img src="/misc/imagesv2/minvest_bg02.jpg" alt="">
                        <div class="spin-con">
                            <div class="spin-1">
                                <p>符合国家产业政策和规划要求，在各行业具有核心竞争力的龙头核心企业。</p>
                            </div>
                            <div class="span-3"></div>
                            <div class="spin-2">
                                <p>企业实力强、风险可控且具有良好发展前景的价值投资。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section section-invest-3">
                <div class="wrapper mhide">
                    <h3>投资方式</h3>
                    <div class="desc">
                        <img src="/misc/imagesv2/invest_pic03.png" alt="">
                        <div class="desc-inner">
                            <p>通过参与国有企业改革、产业并购整合、企业pre IPO以及其他法律法规允许的投资方式进行投资。

<br><br>通过整合各类资源，帮助被投资企业完善长期战略，搭建合作关系，提高企业资本运营能力，最终达到提升企业价值，给企业股东及基金投资人带来长期稳定的投资回报。</p>
                        </div>
                    </div>
                </div>
                <div class="wrapper mshow">
                    <h3>投资方式</h3>
                    <div class="desc">
                        <img src="/misc/imagesv2/minvest_pic03.png" alt="">
                        <div class="desc-inner">
                            <p>通过参与国有企业改革、产业并购整合、企业pre IPO以及其他法律法规允许的投资方式进行投资。
<br>通过整合各类资源，帮助被投资企业完善长期战略，搭建合作关系，提高企业资本运营能力，最终达到提升企业价值，给企业股东及基金投资人带来长期稳定的投资回报。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>