<div class="invest">
    <div class="wrapper">
        <div class="banner banner-invest clearfix">
            <img src="/misc/images/invest-banner.jpg" alt="" class="w100 mhide">
            <img src="/misc/images/invest-banner-mobile.jpg" alt="" class="w100 mshow">
            <div class="w-wrapper">
                <h2 class="f24 color-white">投资理念</h2>
                <p class="f16 color-white">“金砖基金是一家具有企业家眼光的价值投资者，我们要利用我们的资源和优势，<br>帮助企业做大做强，实现基金与企业的双赢！”
                                                                              <br> <span class="block tright">——金砖基金董事长王毅</span></p>
            </div>
        </div>
        <div class="content-invest wrapper">
            <p class="f16 p1">不同于短期市场操作的新投资模式，作为具有企业家眼光的价值投资基金，
                <br> 通过对企业资金和营运等多方面的支持来帮助企业发展壮大，
                <br> 在企业自身的长期价值增长中获得可持续性的回报。</p>

            <p class="f24 p2 color-yellow-light">金砖基金主要有以下投资理念</p>
        
            <!-- For PC  -->
            <div class="cards mhide">
                <ul class="clearfix">
                    <li class="card item">
                        <h3 class="f24 color-yellow-dark">以人为本</h3>
                        <p class="color-white">金砖基金遵循以人为本的投资理念，注重并尊重
                            <br>所投资公司企业文化。
                            <br>与管理层精诚合作、
                            <br>共创企业价值。</p>
                    </li>
                    <li class="card item">
                        <h3 class="f24 color-yellow-dark">立足长远</h3>
                        <p class="color-white">金砖基金追求长期的、
                        <br>环境友好的和可持续的价值增长，希望利用管理团队的社会资源、金融知识、
                        <br>行业经验协助企业创造长期的价值增长。</p>
                    </li>
                    <li class="card item last">
                        <h3 class="f24 color-yellow-dark">共赢合作</h3>
                        <p class="color-white">金砖基金珍视与控股股东、管理层、商业伙伴的共赢合作，力求在同企业、
                            <br>管理层、原有股东和新投资者利益均得到保障的
                            <br>基础上参与企业的
                            <br>长期发展，愿与他们一起分享公司的发展与成功。</p>
                    </li>
                </ul>
            </div>
            <!-- For PC End -->
        
            <!--- For Mobile  -->
            <div class="cards mshow">
                <ul class="clearfix">
                    <li class="card item">
                        <h3 class="f24 color-yellow-dark">以人为本</h3>
                        <p class="color-white">金砖基金遵循以人为本的投资理念，注重并尊重
                            <br>所投资公司企业文化。与管理层精诚合作、
                            <br>共创企业价值。</p>
                    </li>
                    <li class="card item">
                        <h3 class="f24 color-yellow-dark">立足长远</h3>
                        <p class="color-white">金砖基金追求长期的、环境友好的和可持续的价值增长，
                        <br>希望利用管理团队的社会资源、金融知识、
                        <br>行业经验协助企业创造长期的价值增长。</p>
                    </li>
                    <li class="card item last">
                        <h3 class="f24 color-yellow-dark">共赢合作</h3>
                        <p class="color-white">金砖基金珍视与控股股东、管理层、商业伙伴的共赢合作，力求在同企业、
                            <br>管理层、原有股东和新投资者利益均得到保障的基础上参与企业的
                            <br>长期发展，愿与他们一起分享公司的发展与成功</p>
                    </li>
                </ul>
            </div>
            <!--- For Mobile End -->

            <p class="f16 p3">作为长期投资者，金砖基金注重投资于区域性拥有优秀企业家和管理团队并有潜力成行业龙头的企业。金砖基金的投资不仅能使这些企业获得充裕的发展资金，更重要的是利用管<br>理团队的多种资源和优势帮助企业优化业务，
            <br>剥离低回报资产，促进产业链及上下游资源整合，
            <br>优化资本结构，突破发展瓶颈，快速、
            <br>稳健的成长为真正具有国际水平的一流企业。</p>

        </div>

        <div class="content-invest-bootom">
            <div class="wrapper">
                <h3 class="f24">投资方向/服务范围</h3>
                <p class="f16">金砖基金重点关注新能源、基建设施、大健康、农业民生、物流、军工、TMT、节能环保、金融和地产运营等领域市场或技术上居于领导地位的投资机会。基金主要通过参与国资国企改革、产业并购整合、企业上市前融资、香港IPO基石锚定投资、新三板企业投资、企业香港发债以及其他法律法规允许的投资方式进行投资，通过整合各类资源，帮助被投资企业完善长期战略，搭建合作关系，提高企业资本运营能力，最终达到提升企业价值，给企业股东及基金投资人带来长期稳定的投资回报。</p>
                <p class="f16 mb0 mt20">金砖基金目前已投的项目已遍布各行各业，在国内主要有北京市政路桥混改上市、北京市二商集团下物流板块拆分上市、西北地区最大的种猪养殖集团阳晨牧业上市前融资等。在香港主要有国内最大的家具流通企业红星美凯龙港股ipo，中国通号港股ipo，云南水务港股ipo等。</p>
            </div>
            
        </div>
    </div>
</div>