<div class="join-us">
    <div class="wrapper">
        <img src="/misc/images/join-us-banner.jpg" alt="" class="w100 mhide">
        <img src="/misc/images/join-us-banner-mobile.jpg" alt="" class="w100 mshow">
        <div class="w-wrapper">
            <h2 class="color-white f24">联系方式</h2>
            <p class="f16 color-white">地址: 上海市浦东新区世纪大道8号<br>国金中心二期4811金砖基金</p>
            <p class="f16 color-white">联系电话: +86  21  50277777</p>
            <p class="f16 color-white">Email: goldenbrick@gb-fund.com</p>
        </div>
    </div>
</div>