<div class="news news-body">
    <div class="wrapper">
        <div class="banner banner-news wrapper hideme">
            <img ng-src="/backend/{{news.bannerImagePC.filename}}" alt="" class="w100 mhide">
            <img ng-src="/backend/{{news.bannerImageMobile.filename}}" alt="" class="w100 mshow">
        </div>
        <h1>{{news.title}}</h1>
        <div class="content-news" ng-bind-html="news.content.extended | to_trusted"></div>
        <div class="pager clear">
          <div class="prev"><a ng-if="news.prev != null" ng-href="#!/news/{{news.prev}}">上一篇</a></div>
          <div class="next"><a ng-if="news.next != null" ng-href="/#!/news/{{news.next}}">下一篇</a></div>
        </div>
    </div>
</div>