<div class="news">
    <div class="wrapper">
        <div class="banner banner-news wrapper">
            <img src="/misc/images/news-banner.jpg" alt="" class="w100 mhide">
            <img src="/misc/images/news-banner-mobile.jpg" alt="" class="w100 mshow">
            <div class="w-wrapper">
                <h2 class="f24 color-light-dark">中捷敲定60亿欧元大单，金砖董事长：最新并购都在这里</h2>
                <p class="f16 color-light-dark">上海金砖股权投资基金总部在上海陆家嘴国金中心二期，并在北京、香港设有办事处。金砖基金注册资本为人民币20亿元，金砖一期母基金的发起人为一家世界500强企业（第342位）中国华信，一期基金规模为人民币50亿元，在国内首屈一指。</p>
            </div>
        </div>

        <div class="content-news">
            <p class="f16">3月30日，雨后的布拉格天气清朗，伏尔塔瓦河畔的淡黄色建筑佐芬宫见证了中捷两国在经贸领域取得的累累硕果。</p>
            <p class="f16">当天，国家主席习近平同捷克总统泽曼在布拉格共同出席中捷经贸合作圆桌会。习近平在讲话中强调，要探索经贸合作和商业模式创新，加强金融、互联网经济、新能源、旅 游等领域合作，支持两国企业共建工业和科技园区，培育经贸发展新增长点。要发挥比较优势，开展国际产能合作，实现“中国制造2025”同“捷克工业 4.0”有效对接。</p>
            <p class="f16">《第一财经日报》记者在现场了解到，在习近平与泽曼的见证下，中捷双方企业签署了总计60亿欧元的大单，涉及能源、金融、核电、航空、酿酒、化工等多个领域。</p>

            <h3 class="f24">多项协议签署</h3>
            <p class="f16">在此次仪式上，捷克J&T金融集团与国开行、平安银行分别签署了合作协议。在工业领域，捷航工业与中航材签署合作谅解备忘录，捷克能源和中广核在核能领域也签署合作谅解备忘录，万华实业与BC-MCHZ签署关于投资发展的合作谅解备忘录，上汽与斯柯达汽车达成合作协议，中国华信、恒丰银行及捷克ZDAS日嘉斯钢铁达成战略合作协议。此外，还包括中国东航与捷航控股的战略合作协议、国开行与捷克出口银行的金融合作发展协议等。</p>
            <p class="f16">捷克工业和贸易部长扬·姆拉代克接受《第一财经日报》记者采访时表示，捷克的支柱型产业是工业，捷克工业有着非常深厚的基础，1/4的工业产值来自于汽车业。就在去年，捷克生产了1000万辆汽车，“我们属于比较小的国家，1000万辆对我们来说，数量已经非常大。”</p>
            <p class="f16">他还表示，捷克的第二大工业领域是机械制造业，“今后，我们也会把捷克的飞机出口到中国新疆。我们希望与中国航空方面的企业有更多的交流。捷克的航空科研技术水平在世界上处于领先地位。”</p>
            <p class="f16">J&T金融公司董事会成员科瓦奇（Igor Kovac）告诉本报记者，与国开行、股东华信公司的合作中，主要将就“一带一路”部分项目进行投资。“公司也会帮助捷克及欧洲其他地区的投资者了解这些项目。单个项目的投资限额为8亿欧元左右。”科瓦奇表示，目前J&T金融公司就有5个在能源、加工、制造业等领域的项目。 16px</p>

            <div class="cards">
                <ul class="clearfix">
                    <li class="item card">
                        <img src="/misc/images/news-pic-1.jpg" alt="">
                    </li>
                    <li class="item card last color-white">
                        <h4 class="f24">合作潜力巨大</h4>
                        <p class="f16">多位中捷企业家在接受《第一财经日报》记者采访时也表示，捷克及中东欧地区属于尚未开垦的处女地，彼此合作潜力巨大。</p>
                        <p class="f16">二商集团党委书记孙杰就对记者表示，
集团此次将入股捷克“老博客啤酒”公司10%的股份。“目前老博客啤酒已经是
中方公司华信集团控股。</p>
                        <p class="f16">我们会把这个品牌的啤酒引入中国，先试水北京，生产基地依然放在捷克。我们以往代理最多的是红酒，现在可以从捷克啤酒开始，
尝试不同的产品。中国人饮用捷克的啤酒
还不是太多，这一市场潜力很大。” </p>
                    </li>
                </ul>
            </div>

            <p class="f16 mt20">金砖基金董事长王毅则认为，国有企业走出去，不仅可以提升资产质量，同时也可以考虑资本上市。“我们会与二商集团一起，在食品产业链上下游整合、物流板块、海外食品进口等方面做相关合作。我们会对二商集团进行股权投资，帮其实现资产收益率、去杠杆等，也会看看是否有机会使得二商集团实现上市。”</p>

            <p class="f16">他也表示，拥有50亿元资金规模的金砖基金也在拓展其他中欧新项目，“现在欧洲市场不算特别景气，对企业而言是很好的海外并购机会。”</p>
            <p class="f16">万华化学在此次中捷合作中也有一个重要投资项目，将与BC-MCHZ集团签署1亿欧元的追加投资协议。万华集团一位内部人士告诉本报记者，万华收购BC集 团总计耗资16亿欧元，这次签约是追加投资额。“BC集团在捷克和波兰都有工厂，其中捷克工厂总计359人。万华收购BC集团之后，也是中东欧唯一一家生 产MDI（生产聚氨酯的主要原料）的工厂。在万华进入后，这家企业从原来生产10万吨的MDI产品，翻了一番多，达到25万吨。此次万华集团进一步追加投 资并进行改造，从而生产一些高技术、高附加值的产品。”万华集团前述负责人表示。</p>
            <p class="f16">而中国华信则会与恒丰银行旗下基金并购捷克ZDAS日嘉斯钢铁。</p>
            <p class="f16">ZDAS日嘉斯钢铁公司具有50年的发展历史，年销售收入达13亿欧元。</p>
            <p class="f16">在航空领域，在海航拥有直飞布拉格航线的基础上，东航今年也将开通上海直飞布拉格的航线。虽然外界有声音称，如果东航开通航线的话，可能影响到海航原有的北京至布拉格航线，但他表示，“我们开通上海布拉格直航后，对彼此都有好处。比如说，欧洲人从上海到布拉格之后，返航时可由布拉格到北京出。很简单的道理，以前国内高铁开通了也有人说会影响航空，但事实并不是这样，双方都利好。”</p>
            <p class="f16">刘绍勇还说，中东欧是一个尚待开发的地，市场潜力大，“今年航线我们有很多，法兰克福、巴黎、英国希斯罗、意大利罗马、马德里、阿姆斯特丹及捷克等，东航将形成一个完整的欧洲航线网络。</p>
            <p class="f16">对于上海到布拉格航线的盈利方面，我还是很有信心的。航线开通后将会保持稳定增长，
从每周三班逐渐增加到每天一班。相信航班越多，旅客也会越多。” </p>

        </div>
    </div>
</div>