<div class="about-us">
    <div class="banner banner-about-us wrapper">
        <img src="/misc/imagesv2/news_banner.jpg" class="w100 mhide" alt="">
        <img src="/misc/imagesv2/mnews_banner.jpg" class="w100 mshow" alt="">
        <div class="w-wrapper hideme">
            <h2 class="f24 color-white">新闻中心</h2>
            <p class="f16 color-white">了解金砖最新动态，投资领域与发展规划。</p>
        </div>
    </div>

    <div class="content-newslist wrapper">
        
        <div class="section section-newslist-1">
            <div class="wrapper clearfix">
                <div class="desc">
                    <a href="/#/news" class="mhide">
                        <img src="/misc/imagesv2/news_list01.jpg" alt="">
                        <div class="desc-inner">
                            <h4>中捷敲定60亿欧元大单，金砖董事长：最新并购都在这里</h4>
                            <p> 《第一财经日报》记者在现场了解到，在习近平与泽曼的见证下，中捷双方企业签署了总计60亿欧元的大单，涉及能源、金融、核电、航空、酿酒、化工等多个领域。</p>
                            <span class="read-more">查看详情</span>
                        </div>
                    </a>
                    <a href="/#/news" class="read-more mshow">
                        <img src="/misc/imagesv2/news_list01.jpg" alt="">
                        <div class="desc-inner">
                            <h4>中捷敲定60亿欧元大单，金砖董事长：最新并购都在这里</h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


