<div class="about-us">
    <div class="banner banner-about-us wrapper">
        <img src="/misc/imagesv2/news_banner.jpg" class="w100 mhide" alt="">
        <img src="/misc/imagesv2/mnews_banner.jpg" class="w100 mshow" alt="">
        <div class="w-wrapper hideme">
            <h2 class="f24 color-white">新闻中心</h2>
            <p class="f16 color-white">了解金砖最新动态，投资领域与发展规划。</p>
        </div>
    </div>

    <div class="content-newslist wrapper">
        
        <div class="section section-newslist-1">
            <div class="wrapper clearfix">
                <div class="desc">
                    <a ng-repeat="news in newsItems" href="/#!/news/{{news._id}}" class="mhide">
                        <img src="{{news.listImage.url}}" old-src="/misc/imagesv2/news_list01.jpg" alt="">
                        <div class="desc-inner">
                            <h4 ng-bind-html="news.title | to_trusted">{</h4>
                            <p ng-bind-html="news.content.brief | to_trusted"></p>
                            <span class="read-more">查看详情</span>
                        </div>
                    </a>
                    
                    <a ng-repeat="news in newsItems" href="/#!/news/{{news._id}}" class="read-more mshow">
                        <img src="{{news.listImage.url}}" alt="">
                        <div class="desc-inner">
                            <h4 ng-bind-html="news.title | to_trusted"></h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


