@import "../fonts/dinlight/style.css"

body {
	font-family: "MicrosoftYaHei";
}


.body {
    max-width: 1400px;
    margin: 0 auto;
    min-width: 1200px;
}

.font-eng {
	font-family: "Arial";
}

b {
	font-weight: normal;
}

.mshow {
    display: none;
}

#nav-bar {
    border-top: 10px solid #c49d62;
}

#nav-bar .wrapper{
	height: 120px;
	width: 100%;
	position: relative;
}

.nav-bar .logo {
    width: 240px;
    height: 64px;
    background: url(../misc/images/logo.png) no-repeat top center;
    float: left;
    margin-left: 115px;
    margin-top: 29px;
    background-size: 100%;
}

.mobile-menu-toggle {
    display: none;
    position: absolute;
    right: 13px;
    top: 15px;
}

.mobile-menu-toggle img {
    width: 16px;
}

.nav-links {
	float: right;
	margin-right: 160px;
	list-style-type: none;
}

.nav-links li {
    float: left;
    min-width: 75px;
    text-align: center;
    list-style-type: none;
    margin-right: 80px;
    margin-top: 65px;
}

.nav-links a {
	font-size: 18px;
    color: #3c3a39;
}

a:link,
a:visited{
    text-decoration: none;
}

.nav-links a:hover,
.nav-links a.active {
    color: #c49d62;
    text-decoration: none;
    padding-bottom: 8px;
    border-bottom: 2px solid #c49d62;
}

.nav-bar .search {
    position: absolute;
    right: 160px;
    top: 60px;
    display: none;
}

.search-icon {
	width: 23px;
	height: 23px;
	background: url(../misc/images/search.png)  top center no-repeat;
	display: inline-block;
}

.nav-bar .search input {
	display: none;
}

.top-banner .wrapper {
	width: 100%;
	overflow: hidden;
	position: relative;
}

.top-banner .readmore {
	width: 270px;
    height: 50px;
    position: absolute;
    left: 50%;
    margin-left: -140px;
    bottom: 72px;
    border: 2px solid #fff;
    text-align: center;
    color: #fff;
    line-height: 50px;
    font-size: 18px;
    box-sizing: border-box;
    cursor: pointer;
}

.top-banner .readmore:hover {
    border-color: #FFF;
    border-width: 3px;
}

.top-banner img {
    width: 100%;
}

.f40 {
    font-size: 40px;
}

.top-banner .ep {
    position: absolute;
    bottom: 83px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 37px;
    margin-bottom: 60px;
}

ul {
	list-style-type: none;
	margin:0px;
	padding: 0px;
}

.sticked-border li {
	width: 33.33%;
	height: 0px;
	border: 2px solid #c49d62;
	float: left;
}

.sticked-border li.db-1, .sticked-border li.db-3 {
	border-color: #000;
}

.section {
	width: 100%;
    box-sizing: border-box;
}

.section-1 .section-content {
	float: left;
	height: 100%;
}

.section-1 .section-content-1 {
	width: 33.33%;
	float: left;
	height: 100%;
}

.section-1 .section-content-1 .white-con {
    height: 100%;
    background-color: #c49c61;
    float: right;
    width: 392px;
    color: #fff;
    position: relative;
}

.section-2 .section-content-2 {
	width: 66.66%;
}

.section-1 {
	height: 272px;
}

.section-content .gray-con {
    padding-left: 42px;
    padding-top: 50px;
}

.white-rect {
	width:54px;
	height: 54px;
	background-color: #fff;
}

.white-con .white-rect {
	position: absolute;
	right: 0px;
	bottom: 50px;
}

.money-group {
    float: left;
    width: 229px;
    margin: 75px 20px 0px 23px;
    position: relative;
    text-indent: 10px;
}

.section-2 .intro-block{
    border-left: 5px solid #e6d1b2;
}

.money-group p {
	margin: 0px 0px 10px 0px;
}

.money-group-3 {
	margin-right: 0px;
}

.money-group b {
	line-height: 100%;
}

.money-group .b1 {
    font-size: 66px;
    color: #3c3a39;
    font-weight: bold;
}

.money-group .b2 {
	font-size: 45px;
	color: #3c3a39;
	margin-left: 15px;
}

.money-group .b3 {
	font-size: 40px;
	color: #c49c61;
	margin-left: 60px;
}

.money-group .line {
    height: 0px;
    margin: 0px;
    padding: 0px;
    border: 1px solid #C49C61;
}

.money-group .p1 {
    font-size: 21px;
    margin-top: 15px;
    text-indent: 15px;
}

.money-group .p2 {
    position: absolute;
    font-size: 20px;
    text-transform: uppercase;
    top: -17px;
}

.money-group .p2 b {
    margin-right: 2px;
}

.img-con {
	position: relative;
    float: left;
}

.img-con img {
	width: 100%;
}

.intro-block {
    width: 510px;
    height: 100%;
    right: 3.2%;
    position: absolute;
    background-color: #3c3a39;
    color: #fff;
    padding: 70px 40px;
}

.intro-block a, .intro-block a:hover{
	text-decoration: none;
	cursor: pointer;
    bottom: 25px;
    right: 40px;
    position: absolute;
    font-size: 18px;
}

.color1 {
	color: #c49c61;
}

.color2 {
	color: #5d5a58;
}

a.color2:hover {
	color:#736f6c;
}

.color3 {
	color: #fff;
}

.color4 {
	color: #81663e;
}

a.color4:hover {
	color: #81663e;
}

.intro-block h2 {
	font-size: 35px;
    text-transform: capitalize;
}

.intro-block p {
	font-size: 15px;
    line-height: 33px;
}

.section-3 .intro-block {
    background-color: #c49c61;
    left: 3.2%;
    top: -1px;
}

.h40 {
	height: 40px;
}

.footer .wrapper {
	height: 185px;
	background-color: #3c3a39;
	position: relative;
	margin-top: -1px;
}

.footer p.beian {
	font-size: 14px;
	color:#5d5a58;
	position: absolute;
	right: 0;
	bottom: 0px;
	margin-right: 112px;
	margin-bottom: 17px;
}

.slider-directive {
    position: relative;
}

.slider-directive img {
    position: absolute;
    top: 0px;
}

.slider-con {
    position: relative;
}

.w_full {
    width: 100%;
}

.left{
    float: left;
}

.right {
    float: right;
}

.hideme {
    display: none;
}

#nav-bar .wrapper-mobile a:hover {
    text-decoration: none;
    color:#DE8A0E;
}

.f24 {
    font-size:24px;
}

.f16 {
    font-size: 16px;
}

.color-white{
    color: #fff;
}

.about-us .banner {
    position: relative;
}

.banner-about-us .w-wrapper {
    width: 613px;
    background: rgba(50, 64, 67, .9);
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -23.5%;
    margin-bottom: 15px;
    padding: 15px 38px;
}

.mt15 {
    margin-top: 15px;
}

.w100 {
    width: 100%;
}

.content-about-us {
    width: 1166px;
    margin: 0 auto;
}

.content-about-us .section-about-1 {
    position: relative;
}

.content-about-us .section-about-1 img{
    width: 36.8%;
}

.content-about-us .section-about-1 .w-wrapper {
    background-color: #ebebeb;
    left: 36.8%;
    height: 100%;
    position: absolute;
    top: 0px;
    padding: 30px 20px;
}

.bg-dark-yellow {
    background: #c49d62;
}


.section-about-2 .w-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

.section-about-2 h2 {
    width: 60%;
    text-align: center;
    padding: 10px 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    position: absolute;
    left: 50%;
    margin-left: -30%;
    top: -24px;
}

.section-about-2 .margin {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    margin-top: 40px;
}

.color-light-dark{
    color: #3c3a39;
}

.mt20 {
    margin-top: 20px;
}

.join-us > .wrapper {
    position: relative;
}

.join-us .w-wrapper {
    background: rgba(202, 167, 113, 0.9);
    width: 357px;
    position: absolute;
    right: 22%;
    top: 0px;
    height: 100%;
}

.join-us h2 {
    font-weight: bold;
    margin-top: 30%;
    margin-left: 40px;
}

.join-us p {
    margin-left: 40px;
    margin-top: 35px;
    line-height: 150%;
}

.banner-invest {
    position: relative;
}

.banner-invest .w-wrapper {
    background: rgba(27, 18, 14, .9);
    padding: 0px 15px;
    width: 648px;
    margin: 0 auto;
    position: absolute;
    bottom: 17px;
    left: 50%;
    margin-left: -324px;
}

.block {
    display: block;
}

.tright {
    text-align: right;
}

.content-invest {
    width: 746px;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}

.color-yellow-light {
    color: #d2a75b;
}

.content-invest .cards ul {
    overflow: hidden;
}

.content-invest .card {
    width: 31.33%;
    float: left;
    background: #3c3a39;
    margin-right: 3%;
    padding: 30px 30px 20px 30px;
    padding-bottom: 500em;
    margin-bottom: -500em;
}

.content-invest .card.last {
    margin-right: 0%;
}

.color-yellow-dark {
    color: #d2a75b;
}

.mb0 {
    margin-bottom: 0px;
}

.content-invest .p3 {
    margin-top: 13px;
}

.content-invest-bootom {
    background: #d8d8d7;
}


.content-invest-bootom > .wrapper{
    width: 746px;
    margin: 0px auto;
    padding: 25px 0px;
    text-align: center;
}

.banner-news {
    position: relative;
}

.banner-news .w-wrapper {
    background: #e0b253;
    position: absolute;
    bottom: 25px;
    right: 0px;
    width: 778px;
    padding: 30px 40px;
}

.news {
    padding: 0px 115px;
}

.content-news {
    width: 876px;
    margin: 0 auto;
    padding: 25px 0px 0px 35px;
    text-align: center;
}

.cards ul {
    overflow: hidden;
}

.content-news .card {
    width: 50%;
    float: left;
    padding-bottom: 500em;
    margin-bottom: -500em;
}

.content-news .card.last {
    background: #3c3a39;
    padding: 50px;
}

.content-news .card.last p {
    margin-bottom: 20px;
}

.view-animate {
    -webkit-transition: all easy 1s;
}

.view-animate.ng-enter {
    opacity: 0;
}

.view-animate.ng-leave {
    opacity: 1;
}

.view-animate.ng-enter {
    opacity: 0;
}
.view-animate.ng-enter.ng-enter-active {
  opacity: 1;
}
.view-animate.ng-leave.ng-leave-active {
  opacity: 0;
}









